/* a,
p {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: normal;
}

.navbar_section {
  a {
    color: #c1d6ee;
    font-size: 13px;

    span {
      color: rgb(0, 202, 249);
    }
  }

  a:hover {
    color: rgb(0, 202, 249);
  }
}

.landing_section{ 
  h1{ 
    font-family: "Calibre";
    font-weight: 800;
  }
}

section{ 
  box-sizing: border-box;
}

.space-mono-regular {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: italic;
} */